<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div th:replace="fragments/homeButton :: homeButton"/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>학생명</th>
            <th>수업명</th>
            <th>수강가능인원</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.id}"></td>
            <td th:text="${course.student.name}"></td>

            <!--option th:if="${course.lessons.size()} == 0">
                <td>뀨</td>
                <td>호애애</td>
            </option>
            <option th:unless="${course.lessons.size()} == 0">
                <td th:text="${course.lessons[0].name}"></td>
                <td th:text="${course.lessons[0].quota}"></td>
            </option-->
            <td th:text="${course.lesson.name}"></td>

            <!-- 인원 -->
            <td
                    th:style="${course.lesson.quota} - ${course.lesson.getCourses().size()} == 0 ? 'color: red;' : 'color: black;'"
                    th:text="${course.lesson.quota} - ${course.lesson.getCourses().size()}"></td>
            <td>
                <!--a href="#" class="btn btn-primary" role="button" methods="get">수정</a-->
                <a th:href="@{/course/update/{id}(id=${course.id})}"><input type="button" value="update"></a>
                <!-- "@{/delete/{id}(id=${student.id})}" -->
            </td>
            <td>
                <!--a th:href="@{/course/delete/{id}(id=${course.id})}"><input type="button" value="delte"></a-->
                <form method="post" th:action="@{/course/delete/{id}(id=${course.id})}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>